<html op="news">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="referrer" content="origin">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='news.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <!-- <link rel="alternate" type="application/rss+xml" title="RSS" href="rss.rss"> -->
        <title>Hacker News archive
        </title>
  </head>
  <body>
    <center>
      <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr>
          <td bgcolor="#ff6600">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
              <tr>
                <td style="width:18px;padding-right:4px">
                  <a href="http://www.news.ycombinator.com">
                    <img src="{{ url_for('static', filename='y18.gif') }}" width="18" height="18" style="border:1px #ffffff solid;">
                  </a>
                </td>
                <td style="line-height:12pt; height:10px;">
                  <span class="pagetop">
                    <b>
                      <a href="/">Best of HN
                      </a>
                    </b>
                    <span> - {{ curr_day_formatted }}</span>
                    <img src="s.gif" height="1" width="10">
                    <a href="/?date={{ first_date }}">First
                  </a> |
                    <a href="/?date={{ prev_string }}">Prev
                  </a> |
                    <a href="/?date=random">Random
                  </a> |
                    <a href="/?date={{ next_string  }}"> Next
                  </a> |
                    <a href="/?date={{ last_date }}">Last</a></span>
                </td>

                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr style="height:10px">
        </tr>
        <tr>
          <td>
        <table border="0" cellpadding="0" cellspacing="0">
            {% block content %}{% endblock %}
                <tr class="morespace" style="height:10px">
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="title">
                      {% if next_page_num %}
                      <a href="?p={{ next_page_num }}" rel="nofollow">More</a>
                      {% endif %}
                  </td>
                </tr>
        </table>
          </td>
        </tr>
        <tr>
          <td>
              <!-- <img src="s.gif" height="10" width="0"> -->
              <table width="100%" cellspacing="0" cellpadding="1">
                <tr>
                  <td bgcolor="#ff6600">
                  </td>
                </tr>
              </table>
              <br>
              <!-- <center>
              <span class="yclinks">
              <a href="http://news.ycombinator.com/newsguidelines.html">Guidelines
              </a>
              |
              <a href="http://news.ycombinator.com/newsfaq.html">FAQ
              </a>
              |
              <a href="mailto:hn@ycombinator.com">Support
              </a>
              |
              <a href="https://github.com/HackerNews/API">API
              </a>
              |
              <a href="http://news.ycombinator.com/security.html">Security
              </a>
              |
              <a href="http://news.ycombinator.com/lists">Lists
              </a>
              |
              <a href="http://news.ycombinator.com/bookmarklet.html">Bookmarklet
              </a>
              |
              <a href="http://news.ycombinator.com/dmca.html">DMCA
              </a>
              |
              <a href="http://www.ycombinator.com/apply/">Apply to YC
              </a>
              |
              <a href="mailto:hn@ycombinator.com">Contact
              </a>
              </span>
              <br>
              <br>
               <form method="get" action="//hn.algolia.com/">Search:
              <input type="text" name="q" value="" size="17">
              </form>
    </center> -->
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
