<html op="news">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="referrer" content="origin">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='news.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <!-- <link rel="alternate" type="application/rss+xml" title="RSS" href="rss.rss"> -->
        <script type="text/javascript">
function hide(id) {
  var el = document.getElementById(id);
  if (el) { el.style.visibility = 'hidden'; }
}
function vote(node) {
  var v = node.id.split(/_/);
  var item = v[1];
  hide('up_'   + item);
  hide('down_' + item);
  var ping = new Image();
  ping.src = node.href;
  return false;
  }
        </script>
        <title>Hacker News
        </title>
  </head>
  <body>
    <center>
      <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr>
          <td bgcolor="#ff6600">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
              <tr>
                <td style="width:18px;padding-right:4px">
                  <a href="http://www.ycombinator.com">
                    <img src="{{ url_for('static', filename='y18.gif') }}" width="18" height="18" style="border:1px #ffffff solid;">
                  </a>
                </td>
                <td style="line-height:12pt; height:10px;">
                  <span class="pagetop">
                    <b>
                      <a href="news.html">Hacker News
                      </a>
                    </b>
                    <span> - 8 years ago today</span>
                    <img src="s.gif" height="1" width="10">
                      <!-- <a href="http://news.ycombinator.com/newest">new -->
                      <!-- </a> | -->
                      <!-- <a href="http://news.ycombinator.com/newcomments">comments -->
                      <!-- </a> | -->
                      <!-- <a href="http://news.ycombinator.com/show">show -->
                      <!-- </a> | -->
                      <!-- <a href="ask.html">ask -->
                      <!-- </a> | -->
                      <!-- <a href="http://news.ycombinator.com/jobs">jobs -->
                      <!-- </a> | -->
                      <!-- <a href="submit.html">submit -->
                      <!-- </a> -->
                  </span>
                </td>
                <td style="text-align:right;padding-right:4px;">
                  <span class="pagetop">
                    <a href="http://news.ycombinator.com/login?goto=news">login
                    </a>
                  </span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr style="height:10px">
        </tr>
        <tr>
          <td>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr class='athing'>
              <td align="right" valign="top" class="title">
                <span class="rank">1.
                </span>
              </td>
              <td>
                <center>
                  <a id="up_9540094" href="http://news.ycombinator.com/vote?for=9540094&dir=up&goto=news">
                    <div class="votearrow" title="upvote">
                    </div>
                  </a>
                </center>
              </td>
              <td class="title">
                <span class="deadmark">
                </span>
                <a href="http://www.latimes.com/local/california/la-fi-santa-monica-airbnb-20150512-htmlstory.html">Santa Monica council votes 7-0 to crack down on Airbnb
                </a>
                <span class="sitebit comhead"> (latimes.com)
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
              </td>
              <td class="subtext">
                <span class="score" id="score_9540094">43 points
                </span> by
                <a href="http://news.ycombinator.com/user?id=adamio">adamio
                </a>
                <a href="http://news.ycombinator.com/item?id=9540094">1 hour ago
                </a>                  |
                <a href="http://news.ycombinator.com/item?id=9540094">21 comments
                </a>
              </td>
            </tr>
            <tr class="spacer" style="height:5px">
            </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">2.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9539372" href="http://news.ycombinator.com/vote?for=9539372&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://blogs.wsj.com/cio/2015/05/11/google-moves-its-corporate-applications-to-the-internet/">Google Moves Its Corporate Applications to the Internet
                    </a>
                    <span class="sitebit comhead"> (wsj.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9539372">106 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=kjhughes">kjhughes
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9539372">2 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9539372">46 comments
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">3.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9538437" href="http://news.ycombinator.com/vote?for=9538437&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://venom.crowdstrike.com/">Venom – A security vulnerability in virtual floppy drive code
                    </a>
                    <span class="sitebit comhead"> (crowdstrike.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9538437">173 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=fulafel">fulafel
                    </a>
                    <a href="item-id=9538437.html">5 hours ago
                    </a>                  |
                    <a href="item-id=9538437.html">85 comments
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">4.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9537900" href="http://news.ycombinator.com/vote?for=9537900&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://www.theguardian.com/commentisfree/2015/may/12/last-male-northern-white-rhino">The last male northern white rhino
                    </a>
                    <span class="sitebit comhead"> (theguardian.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9537900">56 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=Red_Tarsius">Red_Tarsius
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9537900">7 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9537900">36 comments
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">5.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9540123" href="http://news.ycombinator.com/vote?for=9540123&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://blogs.windows.com/bloggingwindows/2015/05/13/introducing-windows-10-editions/">Introducing Windows 10 Editions
                    </a>
                    <span class="sitebit comhead"> (windows.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9540123">66 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=rufus42">rufus42
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9540123">1 hour ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9540123">38 comments
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">6.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9538858" href="http://news.ycombinator.com/vote?for=9538858&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://blog.toolshed.com/2015/05/the-failure-of-agile.html">The Failure of Agile
                    </a>
                    <span class="sitebit comhead"> (toolshed.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9538858">199 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=ingve">ingve
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9538858">4 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9538858">159 comments
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">7.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9538995" href="http://news.ycombinator.com/vote?for=9538995&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://blog.wolfram.com/2013/05/01/after-100-years-ramanujan-gap-filled/">After 100 Years, Ramanujan Gap Filled
                    </a>
                    <span class="sitebit comhead"> (wolfram.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9538995">23 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=bladecatcher">bladecatcher
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9538995">3 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9538995">discuss
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">8.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9540096" href="http://news.ycombinator.com/vote?for=9540096&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://www.theverge.com/2015/5/13/8592817/rat-patrol-new-york-alberta-canada-south-georgia-eradication">On the front lines of humanity’s high-tech, global war on rats
                    </a>
                    <span class="sitebit comhead"> (theverge.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9540096">15 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=Petiver">Petiver
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9540096">1 hour ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9540096">discuss
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">9.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9538922" href="http://news.ycombinator.com/vote?for=9538922&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://www.iquilezles.org/www/material/nvscene2008/rwwtt.pdf">Rendering Worlds with Two Triangles with raytracing on the GPU in 4096 bytes [pdf]
                    </a>
                    <span class="sitebit comhead"> (iquilezles.org)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9538922">52 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=bemmu">bemmu
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9538922">3 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9538922">6 comments
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">10.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9539859" href="http://news.ycombinator.com/vote?for=9539859&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://www.chrismccord.com/blog/2015/05/09/elixirconfeu-keynote-phoenix-takes-flight/">ElixirConfEU Keynote – Phoenix Takes Flight [video]
                    </a>
                    <span class="sitebit comhead"> (chrismccord.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9539859">27 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=chrismccord">chrismccord
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9539859">1 hour ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9539859">3 comments
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">11.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9540389" href="http://news.ycombinator.com/vote?for=9540389&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://www.serpentine.com/blog/2015/05/13/sometimes-the-old-ways-are-the-best/">Sometimes, the old ways are the best
                    </a>
                    <span class="sitebit comhead"> (serpentine.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9540389">8 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=boothead">boothead
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9540389">42 minutes ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9540389">1 comment
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">12.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9537641" href="http://news.ycombinator.com/vote?for=9537641&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://www.theguardian.com/technology/2015/may/12/how-virtual-world-edge-of-apocalypse-and-back-again">How Eve Online went to the edge of apocalypse and back
                    </a>
                    <span class="sitebit comhead"> (theguardian.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9537641">191 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=omnibrain">omnibrain
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9537641">8 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9537641">71 comments
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">13.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9538945" href="http://news.ycombinator.com/vote?for=9538945&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://martinfowler.com/bliki/MicroservicePremium.html">MicroservicePremium
                    </a>
                    <span class="sitebit comhead"> (martinfowler.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9538945">47 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=danielalmeida">danielalmeida
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9538945">3 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9538945">11 comments
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">14.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9539839" href="http://news.ycombinator.com/vote?for=9539839&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://blog.rubyandduke.com/2015/05/13/how-we-built-e20000-in-monthly-recurring-revenue-for-our-start-up-within-90-days-of-launch/">Getting to €20k in MRR in 90 days
                    </a>
                    <span class="sitebit comhead"> (rubyandduke.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9539839">53 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=blackdogie">blackdogie
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9539839">2 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9539839">25 comments
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">15.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9539662" href="http://news.ycombinator.com/vote?for=9539662&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="https://github.com/lmorg/dhcpdfs">Show HN: DHCP as a file system – an experiment with Go and FUSE
                    </a>
                    <span class="sitebit comhead"> (github.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9539662">19 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=hnlmorg">hnlmorg
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9539662">2 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9539662">4 comments
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">16.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9538654" href="http://news.ycombinator.com/vote?for=9538654&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://www.daniellesucher.com/2012/04/nantucket-an-accidental-limerick-detector/">Nantucket: an accidental limerick detector
                    </a>
                    <span class="sitebit comhead"> (daniellesucher.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9538654">16 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=pavel_lishin">pavel_lishin
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9538654">4 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9538654">1 comment
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">17.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9538535" href="http://news.ycombinator.com/vote?for=9538535&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://www.realworldtech.com/intel-10nm-qwfet/">What’s Next for Moore’s Law? For Intel, III+V = 10nm QWFETs
                    </a>
                    <span class="sitebit comhead"> (realworldtech.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9538535">19 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=signa11">signa11
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9538535">4 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9538535">discuss
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">18.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9538772" href="http://news.ycombinator.com/vote?for=9538772&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://www.bbc.co.uk/news/magazine-32702410">Is surviving on 20-minute naps bad for you?
                    </a>
                    <span class="sitebit comhead"> (bbc.co.uk)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9538772">30 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=TuxMulder">TuxMulder
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9538772">4 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9538772">31 comments
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">19.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9539938" href="http://news.ycombinator.com/vote?for=9539938&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://www.wsj.com/articles/coming-this-summer-u-s-will-run-out-of-internet-addresses-1431479401?mod=LS1">Coming This Summer: U.S. Will Run Out of Internet Addresses
                    </a>
                    <span class="sitebit comhead"> (wsj.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9539938">13 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=abetaha">abetaha
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9539938">1 hour ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9539938">5 comments
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">20.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9538370" href="http://news.ycombinator.com/vote?for=9538370&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="https://en.wikipedia.org/wiki/There's_Plenty_of_Room_at_the_Bottom">There's Plenty of Room at the Bottom (1959)
                    </a>
                    <span class="sitebit comhead"> (wikipedia.org)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9538370">52 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=edward">edward
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9538370">5 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9538370">17 comments
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">21.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9539582" href="http://news.ycombinator.com/vote?for=9539582&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://www.craigkerstiens.com/2015/05/08/upsert-lands-in-postgres-9.5/">Upsert Lands in PostgreSQL 9.5 – A First Look
                    </a>
                    <span class="sitebit comhead"> (craigkerstiens.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9539582">45 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=pykello">pykello
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9539582">2 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9539582">14 comments
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">22.
                    </span>
                  </td>
                  <td>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://news.ycombinator.com/item?id=9539787">Lob (YC S13) Is Hiring Senior Angular and Node Developers
                    </a>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    2 hours ago
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">23.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9538578" href="http://news.ycombinator.com/vote?for=9538578&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://techcrunch.com/2015/05/13/the-muse-raises-10m-from-aspect-ventures-to-scale-a-career-site-for-millennials/">The Muse (YC W12) Raises $10M to Scale a Career Site for Millennials
                    </a>
                    <span class="sitebit comhead"> (techcrunch.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9538578">17 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=acav">acav
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9538578">4 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9538578">1 comment
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">24.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9537009" href="http://news.ycombinator.com/vote?for=9537009&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://www.redblobgames.com/grids/hexagons/implementation.html">Implementation of Hex Grids
                    </a>
                    <span class="sitebit comhead"> (redblobgames.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9537009">156 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=qzervaas">qzervaas
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9537009">12 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9537009">14 comments
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">25.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9537802" href="http://news.ycombinator.com/vote?for=9537802&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://blogs.ams.org/matheducation/2015/05/01/famous-unsolved-math-problems-as-homework/">Famous Unsolved Math Problems as Homework
                    </a>
                    <span class="sitebit comhead"> (ams.org)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9537802">68 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=ColinWright">ColinWright
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9537802">8 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9537802">58 comments
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">26.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9538159" href="http://news.ycombinator.com/vote?for=9538159&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://archive.wired.com/wired/archive/12.10/drexler.html" rel="nofollow">The Incredible Shrinking Man (2004)
                    </a>
                    <span class="sitebit comhead"> (wired.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9538159">9 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=edward">edward
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9538159">6 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9538159">1 comment
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">27.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9540065" href="http://news.ycombinator.com/vote?for=9540065&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://www.gamasutra.com/view/feature/132771/the_secrets_of_cloth_simulation_in_.php" rel="nofollow">The Secrets of Cloth Simulation in Alan Wake
                    </a>
                    <span class="sitebit comhead"> (gamasutra.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9540065">3 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=Red_Tarsius">Red_Tarsius
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9540065">1 hour ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9540065">discuss
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">28.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9537622" href="http://news.ycombinator.com/vote?for=9537622&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://lwn.net/SubscriberLink/643234/6e05b14dcd966636/">System call conversion for year 2038
                    </a>
                    <span class="sitebit comhead"> (lwn.net)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9537622">69 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=signa11">signa11
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9537622">8 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9537622">33 comments
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">29.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9537964" href="http://news.ycombinator.com/vote?for=9537964&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="http://www.nature.com/ncomms/2015/150512/ncomms8000/full/ncomms8000.html">Seasonal gene expression reveals annual differences in human physiology
                    </a>
                    <span class="sitebit comhead"> (nature.com)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9537964">11 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=DiabloD3">DiabloD3
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9537964">7 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9537964">discuss
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class='athing'>
                  <td align="right" valign="top" class="title">
                    <span class="rank">30.
                    </span>
                  </td>
                  <td>
                    <center>
                      <a id="up_9538950" href="http://news.ycombinator.com/vote?for=9538950&dir=up&goto=news">
                        <div class="votearrow" title="upvote">
                        </div>
                      </a>
                    </center>
                  </td>
                  <td class="title">
                    <span class="deadmark">
                    </span>
                    <a href="https://www.artik.io/mad" rel="nofollow">Makers Against Drought
                    </a>
                    <span class="sitebit comhead"> (artik.io)
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="subtext">
                    <span class="score" id="score_9538950">5 points
                    </span> by
                    <a href="http://news.ycombinator.com/user?id=T-A">T-A
                    </a>
                    <a href="http://news.ycombinator.com/item?id=9538950">3 hours ago
                    </a>                  |
                    <a href="http://news.ycombinator.com/item?id=9538950">discuss
                    </a>
                  </td>
                </tr>
                <tr class="spacer" style="height:5px">
                </tr>
                <tr class="morespace" style="height:10px">
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                  <td class="title">
                    <a href="http://news.ycombinator.com/news?p=2" rel="nofollow">More
                    </a>
                  </td>
                </tr>
        </table>
          </td>
        </tr>
        <tr>
          <td>
            <img src="s.gif" height="10" width="0">
              <table width="100%" cellspacing="0" cellpadding="1">
                <tr>
                  <td bgcolor="#ff6600">
                  </td>
                </tr>
              </table>
              <br>
              <!-- <center>
              <span class="yclinks">
              <a href="http://news.ycombinator.com/newsguidelines.html">Guidelines
              </a>
              |
              <a href="http://news.ycombinator.com/newsfaq.html">FAQ
              </a>
              |
              <a href="mailto:hn@ycombinator.com">Support
              </a>
              |
              <a href="https://github.com/HackerNews/API">API
              </a>
              |
              <a href="http://news.ycombinator.com/security.html">Security
              </a>
              |
              <a href="http://news.ycombinator.com/lists">Lists
              </a>
              |
              <a href="http://news.ycombinator.com/bookmarklet.html">Bookmarklet
              </a>
              |
              <a href="http://news.ycombinator.com/dmca.html">DMCA
              </a>
              |
              <a href="http://www.ycombinator.com/apply/">Apply to YC
              </a>
              |
              <a href="mailto:hn@ycombinator.com">Contact
              </a>
              </span>
              <br>
              <br>
               <form method="get" action="//hn.algolia.com/">Search:
              <input type="text" name="q" value="" size="17">
              </form>
    </center> -->
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
